version: '3.8'

services:


  mts:
    image: ekoindarto/mts:0.1.4-arm64
    container_name: mts
    ports:
      - "1745:1745"
    volumes:
      - acp-data:/shared
      - ./apps/mts/resources:/home/akmi/mts/resources
      - ./apps/mts/conf:/home/akmi/mts/conf
      - ./apps/all-logs/mts.log:/home/akmi/mts/logs/mts.log
    depends_on:
      - loki
      - tempo
      - prometheus
    environment:
      APP_NAME: "Metadata Transformation Service"
      OTLP_GRPC_ENDPOINT: "http://tempo:4317"

  aca:
    image: ekoindarto/aca:0.1.4-arm64
    container_name: aca
    ports:
      - "2810:2810"
    volumes:
      - acp-data:/shared
      - ./apps/aca/resources:/home/akmi/aca/resources
      - ./apps/aca/conf:/home/akmi/aca/conf
      - ./apps/all-logs/aca.log:/home/akmi/aca/logs/aca.log
    depends_on:
      - mts
      - loki
      - tempo
      - prometheus
    environment:
      APP_NAME: "ACP Config Assistant"
      OTLP_GRPC_ENDPOINT: "http://tempo:4317"

  acp:
    image: ekoindarto/acp:0.2.1-dev-arm64
    container_name: acp
    ports:
      - "10124:10124"
    volumes:
      - acp-data:/shared
      - ./apps/acp/resources:/home/akmi/acp/resources
      - ./apps/acp/conf:/home/akmi/acp/conf
      - ./apps/all-logs/acp.log:/home/akmi/acp/logs/acp.log
      - ./apps/acp/data/db:/home/akmi/acp/data/db
    depends_on:
      - loki
      - tempo
      - prometheus
      - aca
      - mts
    environment:
      APP_NAME: "Automated Curation Platform"
      OTLP_GRPC_ENDPOINT: "http://tempo:4317"



  maildev:
    image: maildev/maildev
    container_name: maildev
    ports:
      - "1080:1080"
      - "1025:1025"

#  keycloak:
#    image: keycloak/keycloak:22.0.3
#    container_name: keycloak
#    ports:
#      - "9090:9090"
#    environment:
#      - KEYCLOAK_ADMIN=admin
#      - KEYCLOAK_ADMIN_PASSWORD=admin
#      - KEYCLOAK_HOSTNAME=keycloak:9090
#      - KEYCLOAK_FRONTEND_URL=http://keycloak:9090
#      - KC_PROXY=edge
#    command: [
#      "start-dev",
#      "--http-port=9090",
##      "--hostname=keycloak",
#      "--hostname-strict=false"
#    ]

volumes:
  acp-data: